<h1>New Address</h1>

<div ng-controller="AddressController">
  <div>
    <label>Name</label><input type="text" ng-model="name" />
  </div>
  <div>
    <label>Street Address</label><input type="text" ng-model="street" />
  </div>
  <div>
    <label>City</label><input type="text" ng-model="city" />
    <label>State</label><input type="text" ng-model="state" />
    <label>ZIP Code</label><input type="text" ng-model="zipCode" />
  </div>
  <div>
    <label>Phone Number</label><input type="text" ng-model="pNum" />
  </div>
  <button class="btn btn-info" ng-click="submit()">Save</button>
  <button class="btn btn-warning" ng-click="clear()">Clear</button>
  
</div>